In [3]:
import pandas as pd
from time import time

In [32]:
from sqlalchemy import create_engine
user = "root"
password = "root"
host = "localhost"
database = "homework_taxi"
port = "5432"

In [33]:
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")

In [34]:
print(engine.connect())

<sqlalchemy.engine.base.Connection object at 0x7f07fa848190>

In [4]:
greentaxi_dtypes = {
    'VendorID': pd.Int64Dtype(),
    'passenger_count': pd.Int64Dtype(),
    'trip_distance': float, 
    'RatecCodeID': pd.Int64Dtype(),
    'store_and_fwd_flag': str,
    'PULocationID': pd.Int64Dtype(),
    'DOLocationID': pd.Int64Dtype(),
    'payment_type': pd.Int64Dtype(),
    'fare_amount': float, 
    'extra': float,
    'mta_tax': float,
    'tip_amount': float,
    'tolls_amount': float,
    'ehail_fee': float,
    'improvement_surcharge': float,
    'total_amount': float,
    'congestion_surcharge': float,
    'trip_type': pd.Int64Dtype()
}

parse_dates = ["lpep_pickup_datetime", "lpep_dropoff_datetime"]

In [5]:
df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz", dtype=greentaxi_dtypes, parse_dates=parse_dates, nrows=100)

In [6]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [7]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [40]:
df_iter = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz", dtype=greentaxi_dtypes, parse_dates=parse_dates, iterator=True, chunksize=100000)

In [41]:
df.head(n=0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

In [42]:
while True:
    start_time = time()
    df = next(df_iter)
    
    df.to_sql(name="green_taxi_data", con=engine, if_exists="append")

    end_time = time()

    print(f"inserted one chunk... took {end_time-start_time} seconds")

inserted one chunk... took 10.756710767745972 seconds
inserted one chunk... took 10.759747743606567 seconds
inserted one chunk... took 10.821562767028809 seconds
inserted one chunk... took 10.724900960922241 seconds
inserted one chunk... took 4.6188013553619385 seconds

StopIteration:

In [26]:
zone_dtypes = {
    'LocationID': pd.Int64Dtype(),
    'Borough': str,
    'Zone': str, 
    'service_zone': str,
}

In [28]:
zones = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv", dtype=zone_dtypes)

In [29]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [31]:
zones.dtypes

LocationID       Int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [43]:
len(zones)

265

In [45]:
zones.to_sql(name="zones_data", con=engine, if_exists="replace")

265